.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 35px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* style.css */

.content {
  display: flex;
  align-items: center;
}

.frame {
  width: 320px; /* Set your desired width */
  height: auto;
  margin-right: 20px; /* Adjust as needed for spacing between image and text */
  border-radius: 100%;
  border: 5px solid #373636;
}

.text {
  text-align: left; /* Align text to the left of the image */
}

.animation {
  animation: mymove 3s infinite;
}

.container-1 {
  max-width: 550px;
}

.container-2 {
  margin-bottom: -40px;
  font-size: 35px;
  margin-top: -10px;
}
.container-3 {
  max-height: 100px;
}

@keyframes mymove {
  50% {
    transform: translateY(30%);
  }
}

@media only screen and (max-width: 576px) {
  .frame {
    width: 160px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
  }
  .container-1 {
    max-width: 300px;
  }
  .container-2 {
    max-width: fit-content;
    top: 34%;
    position: absolute;
    font-size: 25px;
  }
  .container-3 {
    font-size: 10px;
  }
  .animate-charcter {
    top: 34%;
    font-size: 20px;
    position: absolute;
  }
  .posisi {
    margin-top: 120px;
    position: relative;
    font-size: 14px;
  }
  button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
