.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* style.css */

.content {
  display: flex;
  align-items: center;
}

.frame {
  width: 320px; /* Set your desired width */
  height: auto;
  margin-right: 20px; /* Adjust as needed for spacing between image and text */
  border-radius: 100%;
  border: 5px solid #373636;
}

.text {
  text-align: left; /* Align text to the left of the image */
}

.animation {
  animation: mymove 3s infinite;
}

@keyframes mymove {
  50% {
    transform: translateY(30%);
  }
}
